@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

/* Custom Styles */
body {
  background-color: #f9fafb; /* Light Gray Background */
}

input,
button {
  border-radius: 0.375rem; /* Rounded Borders */
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05); /* Subtle Animation */
}
